= form_tag("#{about_me_update_path}", html: {class: "form"}) do
  .form-group
    .row
      .col-sm-12
        = cktext_area :about_me, :description, :ckeditor => {:uiColor => '#E2D07A'}
  .form-group
    .row
      .col-sm-4
        %input{:type => "submit", :value => "Update About Me", class: 'btn btn-blue'}
