.row
  .col-md-6.col-md-offset-3
    %h1.text-center Edit Instagram Tags
    Type in the tags you want to scrape off instagram. Seperate the tags with commas.
    %br
    %br
    = form_tag("#{instagram_update_tags_path}", html: {class: "form"}) do
      .form-group
        %input{:name => "tags", :type => "text", class: 'form-control', :value => @instagram.tags.join(',')}
      .form-group
        %input{:type => "submit", :value => "Update Instagram Tags", class: 'btn'}
