/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 @import require_tree .
 @import require_self
 @import bootstrap-sprockets;
 @import bootstrap;
 */
 
.css_btn_class {
  font-size:16px;
  font-family:Arial;
  font-weight:normal;
  -moz-border-bottom-left-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  border-bottom-left-radius:8px;
  padding:9px 18px;
  text-decoration:none;
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  background:-ms-linear-gradient( top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fe1a00), color-stop(100%, #ce0100) );
  background-color:#fe1a00;
  color:#ffffff;
  display:inline-block;
  text-shadow:1px 1px 0px #b23e35;
  -webkit-box-shadow:inset 1px 1px 0px 0px #f29c93;
  -moz-box-shadow:inset 1px 1px 0px 0px #f29c93;
  box-shadow:inset 1px 1px 0px 0px #f29c93;
}.css_btn_class:hover {
  border: 1px solid #000000;
}.css_btn_class:active {
  position:relative;
  top:1px;
}

body {
  background: image-url("background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-container {
  padding: 1em 0 1em 0;
}

.main-images {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.image-row {
  margin-right: 1em;
  margin-left: 1em;
}
  
.machine-images-row {
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
}

.machine-images {
  border-right: 1px solid black;
  background-color: #ffffff;
  padding-top: 1em;
}

.machine-images-remove {
  color:white !important;
}

.machine-remove {
  color:white !important;
  border-radius: 0;
  position: relative;
  top: -.7em;
  right: -1em;
  height: 2.45em;

  -moz-border-top-right-radius:4px;
  -webkit-border-top-right-radius:4px;
  border-top-right-radius:4px;
}

.machine-images-remove-column {
  padding-right: 0 !important;

}

.machine-image {
  margin-right: auto;
  margin-left: auto;
}

.machine-images-row-for-group {
  padding-left: 1em;
  padding-right: 1em;
}

.new-machine {
  border: 1px solid black;
  padding: .5em .5em .5em .5em;
  @extend .round-corners;
  margin-bottom: .75em;
  .new-machine-title {
    font-size: 200%;
    font-weight: bold;
  }
}

.custom-navbar {
  background-color: black;
}

.round-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#error_explanation {
  color: red;
}

#main-body {
  min-height:100vh;
  width: 80%;
  background: rgb(170, 151, 57);
  background: rgba(170, 151, 57, 0.9);
  padding-bottom: 1em;
}

.new-work {
  position: absolute;
  top: .25em;
  right: .25em;
}

.modal-body {
    position:relative; /* This avoids image to go off the container */
    // height: 250px;
}
.img-custom-responsive {
    position:absolute;
    left:50%;
    top:50%;
    padding: 0 1em 0 1em;
    // margin-top:-25px; /* This needs to be half of the height */
    // margin-left:-25px; /* This needs to be half of the width */
}
// .centered {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   /* bring your own prefixes */
//   transform: translate(-50%, -50%);
// }

.no-bullets {
  list-style-type: none !important;
}

.messages {
  background: rgb(255, 255, 255);
}

/* unvisited link */
a:link {
    color: #2E4172;
}

.instagram-link {
  padding: 10px 7px 7px 7px !important;
}

.junkyard-font {
  font-family: 'junkyard_font';
  font-size: 4vw;
}

@font-face {
  font-family: 'junkyard_font';
  src: asset-url('junkyard_font.eot');
  src: asset-url('junkyard_font.eot?iefix') format('eot'),
       asset-url('junkyard_font.woff') format('woff'),
       asset-url('junkyard_font.ttf') format('truetype'),
}

.fa-instagram {
  color: white;
}

/* visited link */
a:visited {
    color: #2E4172;
}

/* mouse over link */
a:hover {
    color: #2E4172;
}

/* selected link */
a:active {
    color: #2E4172;
}

.main-container {
  background-color: white;
  min-height: 10em !important;
  padding-bottom: .5em;
  @extend .round-corners;
  margin-right: .5em;
  margin-left: .5em;
}

.main-title {
  font-size: 8vw;
}