/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 @import require_tree .
 @import require_self
 @import bootstrap-sprockets;
 @import bootstrap;
 */
 
body {
  background: image-url("background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-navbar {
  background-color: black;
}

.round-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#error_explanation {
  color: red;
}

#main-body {
  min-height:100vh;
  width: 80%;
  background: rgb(170, 151, 57);
  background: rgba(170, 151, 57, 0.9);
}

.new-work {
  position: absolute;
  top: .25em;
  right: .25em;
}


.modal-body {
    position:relative; /* This avoids image to go off the container */
    // height: 250px;
}
.img-custom-responsive {
    position:absolute;
    left:50%;
    top:50%;
    padding: 0 1em 0 1em;
    // margin-top:-25px; /* This needs to be half of the height */
    // margin-left:-25px; /* This needs to be half of the width */
}
// .centered {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   /* bring your own prefixes */
//   transform: translate(-50%, -50%);
// }

.no-bullets {
  list-style-type: none !important;
}

.messages {
  background: rgb(255, 255, 255);
}

/* unvisited link */
a:link {
    color: #2E4172;
}

.junkyard-font {
  font-family: 'junkyard_font';
}

@font-face {
  font-family: 'junkyard_font';
  src: asset-url('junkyard_font.eot');
  src: asset-url('junkyard_font.eot?iefix') format('eot'),
       asset-url('junkyard_font.woff') format('woff'),
       asset-url('junkyard_font.ttf') format('truetype'),
}

/* visited link */
a:visited {
    color: #2E4172;
}

/* mouse over link */
a:hover {
    color: #2E4172;
}

/* selected link */
a:active {
    color: #2E4172;
}

.about-my-machines-container {
  background-color: white;
  min-height: 26em !important;
}

.main-title {
  font-size: 1000%;
}