#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  =render partial: "machines/panel", locals: {machine: machine, counter: @counter}            

#imageModal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-custom-size
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      .modal-body{ :style => "" }
        %img.img-custom-responsive.img-responsive{:alt => "Machine Image", :src => "", :class => "modal-image", :style => ""}