.row
  .col-sm-10.col-sm-offset-1.about-my-machines-container.round-corners
    %h1.text-center.junkyard-font About My Machines
    - if current_user && current_user.admin?
      .new-work
        %a.no-decoration.btn.btn-xs{href: "#{about_my_machines_edit_path}"}
          %span.glyphicon.glyphicon-cog{title: 'Edit About My Machines'}
    .row
      .col-sm-6.col-sm-offset-1
        = @about_my_machines.description.html_safe
      .col-sm-4
        = image_tag("mini_me.png", class: 'img-responsive')