.row
  .col-sm-10.col-sm-offset-1.round-corners.main-container.about-me-container
    %h1.text-center About My Machines
    - if current_user && current_user.admin?
      .new-work
        %a.no-decoration.btn.btn-xs{href: "#{about_my_machines_edit_path}"}
          %span.glyphicon.glyphicon-cog{title: 'Edit About My Machines'}
    .row
      .col-sm-6.col-sm-offset-2
        = @about_my_machines.description.html_safe
      .col-sm-2
        = image_tag("mini_me.png", class: 'img-responsive')